*{
    margin:0;
    padding:0;
}
body{
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top:0;
    z-index: 10;
}
.navbar-brand img{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin-left: 5%;
}
.navbar{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    padding: 0 !important;
}
.navbar-nav{
    margin-left: auto;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: bold;
    float: right;
    text-align: left;
}
.fa-bars{
    color: #fff !important;
}
.navbar-toggler{
    outline: none;
}
/* --------------------------Banner section----------------------------- */
.button-img{
    width:50px;
    height: 50px;
    margin-left: 3%;
}
#banner{
    background-image:linear-gradient(to right,#a517ba,#5f1782); 
    padding-top: 5%;
}
.banner a{
    text-decoration: none;
    color: black;
}
.banner p{
    color: #fff;
}
.promo-tittle{
    text-transform: uppercase;
    font-size: 30px;
    color: black;
}
.demo-img{
    margin-left: 200px;
    padding-top: 10px;
    margin-bottom: 50px;
}
.wave{
    width: 100%;
}
/* -------------services---------------- */
#services{
    padding:80px 0;
  
} 
.services img{
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;
    margin-top: 100px;
  
}
.para{
    margin-bottom: 100px;
}
.tittle::before{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto ;
    display: block;
    transform: translateY(60px);
}
/* ---------------------about us--------------------- */
#about-us{
    background-image: linear-gradient(to bottom,yellow,orange);
    padding:80px 0;
}
.about-us h2{
    margin-top: 100px;
}
.about-us img{
    margin-top: 100px;
    margin-left: 50px;
    width: 300px;
    border-radius: 50%;
}
/* ------------------testimonial------------ */
.promo-tittle{
    margin-top: 100px !important;
}
.testi img{
    width: 70px ;
    height: 70px;
    border-radius: 50%;
}
.testi{
    border-left: 5px solid #7b1798;
    margin-left: 50px;
    margin-bottom: 100px;
}
.down{
    margin-top: 50px !important;
}
/* ----------------social media sectiioon-------------------- */
#social a img{
    width: 150px;
    border-radius: 50%;
    margin-bottom: 100px;
    
    
}
#social h2{
    margin-bottom: 150px;
    text-transform: uppercase;
    text-shadow:.5px .5px orangered;
}
.footer{
    text-decoration: none !important;
}
#social{
    background-image: linear-gradient(to bottom, orange,teal);
}